.teks{
    margin-left: 35px;
}

.teks1{
    margin-top: -180px;
    margin-left: 550px;
}

.teks2{
    margin-top: -90px;
    margin-left: 550px;
}

.teks3{
    margin-top: -80px;
    margin-left: 550px;
    width: 400px;
}

.teks4{
    margin-left: 565px;
}

.teks5{
    margin-left: 680px;
    margin-top: -35px;
}

.bg1{
    margin-top: -100px;
    margin-left: 85px;
    width: 30px;
    cursor: pointer;
}

.bg2{
    margin-top: -28.5px;
    margin-left: 130px;
    width: 30px;
    cursor: pointer;
}
.bg3{
    margin-top: -28px;
    margin-left: 175px;
    width: 30px;
    cursor: pointer;
}

.samuel{
    margin-top: 155px;
}

.teksbawah{
    margin-top: -340px;
    margin-left: 85px;
    font-size: 25px
}

.bg4{
    margin-left: 85px;
    margin-top: 45px;
}

.oke1{
    margin-left: 170px;
    margin-top: -54px;
    color: #535353;
    font-size: 20px;
}

.oke2{
    margin-left: 170px;
    margin-top: 0px;
    color: #7e7e7e;
}

.medali1{
    margin-top: -25px;
}

.medali2{
    margin-top: -25px;
}

.Award{
    margin-top: 60px;
    margin-left: 513px;
}

.tekstengah{
    margin-top: 90px;
    margin-left: 490px;
    font-size: 25px;
}



.img1 {
    position: relative;
    width: 300px; 
    height: 200px; 
    overflow: hidden;
    border-radius: 10px; 
    margin-left: 55px;
    margin-top: 50px;
}

.img1 img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-out;
}

.img1:hover img {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.satu{
    margin-top: 15px;
    margin-left: 55px;
}

.gambar2{
    margin-top: -288px;
    margin-left: 340px;
}

.gambar3{
    margin-top: -288px;
    margin-left: 680px;
}

.tiga_B{
    margin-top: 0px;
    margin-left: 0px;
}

.sendiri{
    margin-top: 75px;
    margin-left: 475px;
}

.sendiri1{
    margin-top: 30px;
    margin-left: 436px;
    font-size: 25px;
}

.button{
    margin-top: 35px;
    margin-left: 459px;
    
}

.sendiri2{
    margin-top: 80px;
    margin-left: 50px;
    color: #535353;
}

.bg8{
    margin-top: -24px;
    margin-left: 835px;
    width: 30px;
    cursor: pointer;
}

.bg9{
    margin-top: -28px;
    margin-left: 880px;
    width: 30px;
    cursor: pointer;
}

.bg10{
    margin-top: -28px;
    margin-left: 928px;
    width: 30px;
    cursor: pointer;
}

.iconbawah{
    margin-left: 70px;
}